
h1 {
    font-size        : 1.3em;
    padding-bottom   : 10px;
    text-transform   : uppercase;
    letter-spacing   : -1px;
    word-spacing     :  3px;
}

h2 {
    font-size        : 1em;
    margin-top       : 0px;
    margin-bottom    : 8px;
    font-weight      : normal;
}

p {
    margin           : 0px;
    padding          : 0px;
    line-height      : 1.5em;
}

div#left {
    font-size        : small;
    position         : fixed;
    left             : 0;
    top              : 0;
    width            : 300px;
}

div#content {
    position         : relative;
    width            : 100%;
}

div.text {
    padding          : 10px;
}

div#left a {
    color            : #0000a0;
}

div.orgChart a {
    color            : black;
    text-decoration  : none;
}

div.orgChart a:hover {
    color            : black;
    text-decoration  : underline;
}

img.star {
    width            : 16px;
    height           : 16px;
}
.interactive table > div{
    background: #666;
}