.filter{
	width: 97%;
	margin: 10px auto;
	padding-bottom: 10px;
}
.tipping{
	float:left; 
	padding-top:0.2em;
	font-size:11px; 
	color:#666; 
	font-style:italic;
}
.tipping p{
	padding-left:50.1%;
}
.filter h4{
	float: left;
	font-size: 0.9em;
	font-weight: normal;
	color: #343536;
	width: 10%;
	padding: 5px 0px 5px 10px;
}
::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { 
   font-style: italic;  
}

::-moz-placeholder {  
   font-style: italic;  
}
.filter select{width: 280px;}
:-ms-input-placeholder {  
   font-style: italic;  
}
input[type=text]{
	float: left;
	width: 22%;
	padding: 5px;
	margin-right: 5px;
}

input[type="number"]{
	float: left;
	width: 45%;
	padding: 5px;
	margin-right: 5px;
	}
input[type=email]{
	float: left;
	width: 45%;
	padding: 5px;
	margin-right: 5px;
}
input[type="text"]:hover,
input[type="text"]:focus{
	border: solid thin #5694BC;
}
input[type=password]{
	float: left;
	width: 22%;
	padding: 5px;
	margin-right: 5px;
}

.row{
	width: 98%;
	margin: 10px auto;
	clear: both;
}
.row .button-group{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 30%
}

select{
	float: left;
	width: 23%;
	padding: 5px;
	margin-right: 5px;
}
.button-group{
	float: left;
}
.btn{
	float: left;
	padding: 5px 8px 5px 8px;
	border: none;
	margin-right: 5px;
	cursor: pointer;
	/*width: 45%;*/
}
.btn a{
	font-size: 0.8em;
}
.green{
	background: #6AAD6A;
	color: #fff;
}
.gray{
	background: #A3AAA3;
	color: #fff;
}
.red{
	background: #A96B6C;
	color: #fff;
}
table{
	width: 98%;
	margin: 10px auto;
}
.table-head{
	background: #4D6684;
	color: #fff !important;
	font-size: 0.8em;
	padding: 5px;
}
.secondry{
	background: #A3AAA3;
}
td{
	padding: 8px;
}
th{
	padding: 8px;
}
.table-row{
	font-size: 0.8em;
	color: #343536;
}
tr td{
	padding: 8px;
}
tr:nth-child(even){
	background: #F4F8FB;
}

/* progress bar */
.progress {
  width: 100%;
  height: 15px;
}

.progress-wrap {
  background: #f80;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}

/* form */
form{
	width: 96%;
	margin: 10px auto;
	clear: both;
}
form .row{
	width: 60%;
	float: left;
	clear: none;
	/*margin: 10px auto;*/
	min-height: 28px;
}
form h4{
	float: left;
	width: 40%;
	font-size: 0.9em;
	font-weight: normal;
	color: #343536;
	padding: 5px;
}
form h4 i{
	color: #999;
}
form h6{
	float: left;
	font-size: 0.7em;
	font-weight: normal;
	color: #999;
	padding: 5px;
}
form input[type="text"]{
	float: left;
	width: 45%;
}
form select{
	float: left;
	width: 48%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;
}
form input[type="radio"]{
	float: left;
	margin: 5px;
}
form input[type="checkbox"]{
	float: left;
	margin: 5px;
}
.row label{
	float: left;
	width: 12%;
	font-size: 0.9em;
	font-weight: normal;
	color: 343536;
	padding: 3px;
}
.row textarea{
	width: 47%;
	float: left;
	height: 100px;
	resize: none;
}
.clear{
	clear: both;
}
.selected-list{
	width: 96%;
	margin: 5px auto;
	display: block;
	line-height: 20px;
}
.selected-list .list-row{
	background: #DAE4EC;
	margin-bottom: 5px;
}
.selected-list h4{
	float: left;
	width: 22%;
	font-size: 0.8em;
	font-weight: normal;
	color: #343536;
	padding: 8px;
	background: #DAE4EC;
}
.selected-list span{
	padding: 10px;
	width: 2%;
	color: #A96B6C;
	cursor: pointer;
}
.selected-list h6{
	float: right;
	font-weight: normal;
	padding: 1px 5px 0 0;
	color: #177EE5;
	cursor: pointer;
}
.select_47{
	float: left;
	width: 30%;
}



