.notify {
    position: relative;
    width: 600px;
    height: 60px;
    font-family: "Open Sans";
    font-size: 0.9em;
    font-weight: 300;
    padding: 4px;
    margin: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 10px Black;
    -webkit-box-shadow: 0 0 10px Black;
    box-shadow: 0 7px 6px -6px #CCC;;
}
.notify span {
    display: block;
    margin-left: 50px;
}
.notify span:nth-child(1) {
    font-weight: 700;
    margin-top: -20px;
}
.notify i {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 100%;
    font-size: 32px;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

.info {
    color: #004d7e;
    border: 1px solid #318eff;
    background: -moz-linear-gradient(top, #cae2ff, #97c6ff);
    background: -webkit-linear-gradient(top, #cae2ff, #97c6ff);
    background: linear-gradient(to bottom, #cae2ff, #97c6ff);
}
.info i {
    background: #84b9f9;
    color: #003d65;
    text-shadow: 0px 1px 1px #fdfeff;
}

.success {
    color: #0d8801;
    height: 40px;
    border: 1px solid #6dc84d;
    ;
}
.success i {
    background: #a1d28f;
    color: #0b6f01;
    text-shadow: 0px 1px 1px #edf8e9;
    line-height: 45px;
}

.warning {
    color: #7a5f24;
    border: 1px solid #ffa803;
    background: -moz-linear-gradient(top, #ffdd9c, #ffcb69);
    background: -webkit-linear-gradient(top, #ffdd9c, #ffcb69);
    background: linear-gradient(to bottom, #ffdd9c, #ffcb69);
}
.warning i {
    background: #f6c058;
    color: #66501e;
    text-shadow: 0px 1px 1px #ffefcf;
}

.error {
    color: #a44646;
    border: 1px solid #ff3535;
    background: -moz-linear-gradient(top, #ffcece, #ff9b9b);
    background: -webkit-linear-gradient(top, #ffcece, #ff9b9b);
    background: linear-gradient(to bottom, #ffcece, #ff9b9b);
}
.error i {
    background: #f98888;
    color: #923e3e;
    text-shadow: 0px 1px 1px white;
}

.dark {
    color: #ddd;
    border: 1px solid black;
    background: -moz-linear-gradient(top, #3e3e3e, #252525);
    background: -webkit-linear-gradient(top, #3e3e3e, #252525);
    background: linear-gradient(to bottom, #3e3e3e, #252525);
}
.dark i {
    background: #181818;
    color: #d0d0d0;
    text-shadow: 0px 1px 1px #585858;
}
