html,body{
	height: 100%;
}
body{
	font-family: arial;
	background: #F2F4F3;
}
.dropdown-menu{
	position: relative;
	left: 70%;
}
.margino{
		padding-left: 2em;
		font-family: "Myriad Pro";
	}
	.margino .header {
		width: 200px;
		background: #4D6684;
		color: #fff;
		border:none;
	}
	.marginol{
		position: relative;
		left: 600px;
	}
	.margino ul{
		float: left;
	}
	.margino .menu li{
		float: left;
		width: 200px;
		background: #fff;
		border:none;
	}
	.margino .menu h4{
		font-size: 14px;
		float: left;
	}
	.margino .menu small{
		float: right;
		padding: 0.2em 0;
	}
	.margino .menu a{
		padding: 0.2em 0.5em;
		background: green;
		color: #fff;
	}
	.margino .menu a:hover{
		color: #f8f8f8;
	}
	.margino .menu p{
		float: left;
		width: 100%;
		padding: 0.2em;
		font-size: 13px;
		font-weight: bold;;
	}
	.margino .menu p:hover{
		background: #f8f8f8;
	}
	.margino ul ul{
		position: relative;
		left: -2px;
		top: 27px;
	}
	.margino ul ul li {
		float: left;
	}
	.margino h3 {
		font-size: 12px;
		padding: 0.5em;
	}

.ol{
  padding: 0;
  position: absolute;
  left: 0;
  /*width: 175px;*/
  height: 50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
/*ul li ol {

}*/
.li {
  background: #333;
  display: block;
  /*width: 175px;*/
  color: #fff;
  font-size: 16px;
  float: left;
}
.li a{
  font-size: 16px;
}

.ol.li:hover{
  /*width: 180px;*/
  padding: 0;
  margin: 0;
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
}
ul li:hover .ol {
  display: block;
  opacity: 1;
  visibility: visible;
  position: relative;
}
.li h4 {
  padding: 0;
  position: absolute;
  opacity: 0;
  left: 0;
  display: none;
}
.li:hover h4{
	display: block;
	font-weight: normal;
	background: #333;
	  opacity: 1;
	  visibility: visible;
	  position: relative;
	  padding: 0;
}
.menuorgan{
	float: right;
	margin:0.5em 1em 0em 0em;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	/*height: 70px;*/
	border-top: solid 5px #4D6684;
}
header h1{
	font-size: 1.4em;
	padding: 20px 0 20px 20px;
	color: #4D6684;
	display: inline-block;
}
header .right-icons{
	float: right;
	display: inline-block;
}
.right-icons ul{
	list-style: none;
	margin-right: 20px;
}
.right-icons ul li{
	float: right;

}
.row1{
	width: 95%;
	margin: 0.5em;
	float: left;
}
.dooo{
	float: left;
}
.dooo li{
	list-style-type: none;;
	display: inline-table;
	margin-left: 0.2em;
}
.row2{
	width: 95%;
	margin: 0.5em;
	float: left;
}
.form-left{
	width: 60%;
	float: left;
	margin: 1em 0.5em;
}
.italica{
	font-size: 14px;
	padding-left: 3em;
	width: 40%;
	float: left;
}
.headingfive{
	float: left;
	font-size: 15px;
 	width: 40%;
}
.form-right{
	width: 35%;
	float: left;
	margin: 1em 0.5em;
}
.right-icons ul li a{
	color: #999;
	transition: all 0.7s;
}
.right-icons ul li a span{
	float: left;
	margin: 0;
	padding: 20px 0 0px 40px;
	margin-right: 5px;
	font-size: 1.2em;
}
.right-icons ul li a h4{
	float: left;
	margin: 0;
	padding: 22px 5px 0px 0;
	font-weight: normal;
	font-size: 0.9em;
}
.right-icons ul li a i{
	padding: 23px 20px 0px 0px;
}
.right-icons ul li a .notify-count{
	background: none repeat scroll 0 0 #4db849;
    border-radius: 9px;
    color: #fff;
    float: left;
    font-size: 0.7em;
    height: 14px;
    margin: 11px -15px;
    padding: 3px;
    text-align: center;
    width: 14px;
}
.right-icons ul li a:hover{
	color: #343536;
}
.right-icons ul li ul{
	display: none;
	visibility: hidden;
}
.right-icons ul li:hover ul{
	display: block;
	visibility: visible;
	position: absolute;
	margin-top: 0;
	border: solid 2px #999;
}
.right-icons ul ul li{
	float: none;
	width: 110px;
	display: block;
	background: #fff;
	padding: 3px;
	border-bottom: dotted 1px #999;
}
.right-icons ul ul li a{
	font-size: 0.8em;
	text-decoration: none;
}
/*notifications*/
#page {background:#fff;border:1px solid #ccc;box-shadow:0 0 0 3px #eee;margin:40px auto;width:40%;min-width:800px;min-height:500px;border-radius:3px;padding:0 0 30px;position:relative}
#page h2 {margin:20px;color:#444;margin-top:120px}
#page #copyrightBlock + h2 {margin-top:20px}
#copyrightBlock {position:absolute;top:10px;right:10px}
#version, #gitHubLink {color:#fff;background:#4081BE;display:inline-block;padding:0 6px;border-radius:3px;text-decoration:none;font-size:12px;line-height:20px;margin-left:1px}
#gitHubLink:hover {background:#3772A8}
#version {background:#777}
#version span {margin-left:10px;color:#ccc}

.exampleContainer {border:1px solid #ddd;border-left:0;border-right:0}
.exampleContainer .exampleLive {padding:20px;background:#fafafa}
.exampleContainer .exampleLive .exampleLiveTitle {color:#666;font-size:13px;padding-bottom:10px;margin-right:10%}
.exampleContainer .exampleLive > button {padding:6px 12px;cursor:pointer;background:#4081BE;border:0;color:#fff;border-radius:3px;text-transform:uppercase;font-weight:bold;font-size:13px}
.exampleContainer .exampleLive > button:hover {background:#3772A8}
.exampleContainer .exampleCode {background:#2b2f3b;padding:20px}
.exampleContainer .exampleCode code {white-space:pre-line}
.exampleContainer .exampleCode code * {font-family:consolas;font-size:13px}
.exampleContainer .exampleCode code > p {line-height:20px;color:#7993ad;display:inline-block}
.exampleContainer .exampleCode code .tab {padding-left:15px}
.exampleContainer .exampleCode code .tab2 {padding-left:30px}
.exampleContainer .exampleCode code .tab3 {padding-left:45px}
.exampleContainer .exampleCode code .tag {color:#97e0e9}
.exampleContainer .exampleCode code .text {color:#fff}
.exampleContainer .exampleCode code .key {color:#bf5c5b}
.exampleContainer .exampleCode code .val {color:#fadf8c}
.exampleContainer .exampleCode code .var {color:#aae997}
.exampleContainer .exampleCode code .var2 {color:#b297e9}

.notifications{
	padding-bottom: 5px;
	border-bottom: dotted 1px #666;
	padding: 8px;
}
.notifications:hover{
	background: #F4F8FB
}
.notify-actions{
	padding: 8px;
}
.notify-actions input[type="checkbox"]{
	float: left;
	margin: 5px;
}
.notify-actions label{
	float: left;
	/*width: 12%;*/
	font-size: 0.9em;
	font-weight: normal;
	color: #343536;
	padding: 3px;
}
.notify-actions h5{
	float: right;
	font-weight: normal;
	padding: 5px;
}
.notifications h3{
	font-size: 0.8em;
	color: #343536;
	clear: both;
}
.notifications h5{
	font-size: 0.7em;
	color: #343536;
	font-weight: normal;
}
.notifications i a{
	color: #3399FF !important;
	font-style: normal;
}
.notifications i a:hover{
	text-decoration: underline;
}

/*nitifications*/

.nav-container{
	width: 100%;
	display: block;
	float: left;
	height: 144px;
	background: #4D6684;
}
/*header style ends*/

/*contents style*/

.contents-container{
	width: 97%;
	margin: 30px auto;
	/*border: solid;*/
}


.bredcrumb{
	border: dotted 1px #999;
	padding: 6px 0 6px 20px;
	color: #999;
	font-size: 0.8em;
	margin: 10px auto;
}
.bredcrumb:hover{
	color: #343536;
}

/* chart style */
.chart{
	width: 73%;
	float: left;
	background: #fff;
	border: solid 1px #4D6684;
}
.chart-head{
	background: #4D6684;
	color: #fff;
	padding: 8px 0 8px 20px;
}
.chart-nav ul{
	list-style: none;
	margin: 10px;
}
.chart-nav ul li{
	background: none repeat scroll 0 0 #4d6684;
    float: left;
    padding: 0 0 3px 8px;
    width: 60px;
    border-right: solid 1px #fff;
}
.chart-nav ul li a{
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}
.chart-nav ul li:hover{
	background: #5694BC;
}
/* chart */

/* go to list */
.go-to-list{
	width: 25%;
	float: right;
	background: #fff;
	height: 399px;
	border: solid 1px #4D6684;
}
.go-to-list-head{
	background: #4D6684;
	color: #fff;
	padding: 8px 0 8px 20px;
}
.go-to-list ul{
	list-style: none;
	/*margin: 10px;*/
}
.go-to-list ul li{
	display: block;
	float: left;
}
.go-to-list ul li:hover{
	background: #dceffb;
}
.go-to-list ul li a{
	float: left;
	color: #343536;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
}
.go-to-img{
	float: left;
	width: 25%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.9em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px;
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.8em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.7em;
    padding: 0 0 0px 10px;
    width: 70%;

}
#boxscroll {
	height: 360px;
	overflow: auto;
  	margin-bottom:20px;
}

/* go to list */

/* quick links */
.quick-links{
	float: right;
	width: 25%;
}
.btn-large{
	background: #4D6684;
	display: block;
	margin: 10px auto;
	padding: 15px;
	padding-bottom: 15px;
	color: #fff;
	transition: all 0.6s;
}
.btn-large span{
	float: left;
	margin: 0px 30px 0px 10px;
	font-size: 1.5em;
	display: inline-block;
}
.btn-large:hover{
	background: #5694BC;
}
/* quick links */

/* left nav */
.employee-name{
	background: #4D6684;
	color: #fff;
	padding: 5px 0px 5px 20px;
	font-size: 0.9em;
	line-height: 25px;
}
.user-pic{
	background: #fff;
	padding: 8px;
	margin-bottom: 10px;
	text-align: center;
	transition: all 2.0s;
}
.upload-pic{
	position: absolute;
	display: none;
	visibility: hidden;
	margin-top: -20px;
	text-align: center;
	background: rgba(52,53,54,10);
	width: 14.2%;
	font-size: 0.8em;
	color: #fff;
	padding: 5px 0 5px 0;
	transition: all 2.0s;
	cursor: pointer;
}

.user-pic:hover .upload-pic{
	display: block;
	visibility: visible;
}

.left-nav{
	float: left !important;
	width: 16%;
}
.left-nav ul{
	list-style: none;
}
.left-nav ul li a{
	background: #CCCCCC;
	display: block;
	font-size: 0.8em;
	line-height: 23px;
	border-bottom: solid 1px #fff;
	padding: 5px 0 5px 20px;
	color: #343536;
	transition: all 0.4s;
}
.left-nav ul li a span{
	float: right;
    font-size: 1.1em;
    padding: 5px 8px;
}
.left-nav ul li a:hover{
	background: #5694BC;
	color: #fff;
}
.left-nav ul li ul{
	display: none;
	visibility: hidden;
}
.left-nav ul li:hover ul{
	position: absolute;
	display: block;
    left: 216px;
    top: 422px;
    visibility: visible;
}
.left-nav li li a{
	width: 140%;
}
/* left nav */

/* right-contents */
.right-contents{
	float: right;
	width: 82%;
	border: solid thin #4D6684;
	padding-bottom: 10px;
	background: #fff;
}
.right-contents .head{
	background: #4D6684;
	color: #fff;
	padding: 5px 0px 5px 20px;
	font-size: 0.9em;
	line-height: 25px;
}
.full{
	width: 100%;
}
.list-nav{
		width: 18%;
		/*margin: 10px auto;*/
		/*height: 30px;*/
		float: left;
		padding-bottom: 5px;
		border-right: dotted thin;
	}
	.list-nav ul{
		list-style: none;
		display: table;
		margin: 0 auto;
	}
	.list-nav ul li a{
		float: left;
		padding: 8px;
		margin-right: 10px;
		font-size: 0.8em;
		color: #343536;
	}
	.list-nav ul li a:hover{
		text-decoration: underline;
	}
	.right-list{
		float: right;
		width: 80%;
	}
/* right contents */

footer{
	width: 100%;
	height: 50px;
	background: #4D6684;
	margin-bottom: 20px;
	margin-top: 20px;
}


@media (max-width: 1171px){
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 22%;
}
input[type="email"]{
	max-width: 22%;
}
form .row input[type="email"]{
	float: left;
	min-width: 45%;
}
select{
	max-width: 22%;
}
form .row input[type="text"]{
	float: left;
	min-width: 45%;

}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;

}

}



@media (min-width: 800px) and (max-width: 940px){
.go-to-img{
	float: left;
	width: 20%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.7em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px;
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.6em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.5em;
    width: 100%;
    padding: 0;
}

.btn-large{
	font-size: 0.8em;
}
.btn-large span{
	margin: 0px 10px 0px 0px;
}
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}


}


@media (min-width: 520px) and (max-width: 799px){
.nav-container{
	height: auto;
}

.go-to-img{
	float: left;
	width: 20%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.5em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px;
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.5em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.5em;
    width: 100%;
    padding: 0;
}

.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 9px;
	margin-right: 1px;
	font-size: 0.5em;
	width: 16%;

}
.btn-large span{
	margin: 0px 5px 0px 0px;
}

.left-nav{
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}
/*
.left-nav ul{
	list-style: none;
}
.left-nav ul li{
	float: left;
	display: inline;
	border-right: solid 1px #fff;
}
.left-nav ul li a{
	padding: 5px 10px 5px 10px;
}*/
.right-contents{
	width: 100%;
	margin: 0 auto;
}
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}

}


@media (max-width: 519px){
.nav-container{
	height: auto;
}
.chart{
	width: 100%;
	float: left;
	background: #fff;
	border: solid 1px #4D6684;
}
.go-to-list{
	width: 100%;
	margin-top: 10px;
}
.go-to-img{
	float: left;
	width: 25%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 1.5em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px;
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 1.2em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 1em;
    padding: 0 0 0px 10px;
    width: 70%;

}

.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 13px;
	margin-right: 1px;
	font-size: 1em;
	width: 44%;

}
.btn-large span{
	margin: 0px 20px 0px 0px;
}

.left-nav{
	float: left;
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}

.right-contents{
	width: 100%;
	margin: 0 auto;
}
.filter{
	width: 100%;
	margin: 10px auto;
}
.filter h4{
	width: 11%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}
form .row input[type="text"]{
	float: left;
	min-width: 45%;

}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;

}

}


@media (max-width: 463px){
.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 13px;
	margin-right: 1px;
	font-size: 1em;
	width: 94%;

}
.btn-large span{
	margin: 0px 20px 0px 0px;
}
.left-nav{
	float: left;
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}
form .row input[type="text"]{
	float: left;
	min-width: 45%;

}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;

}

}
.h3{
	float: left;
	width: 100%;
	line-height:2em;
	font-size:1em;
	color: #fff;
	padding-left: 0.5em;
	height: 2em;
	background: #0c98c1;
}
/*.cheque{
	width:720px;
	margin: 3em auto;
	min-height: 6em;
	overflow: hidden;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.4);
}
.cheque ul{
		width: 45%;
		float: left;
		padding: 0.5em;
}
.cheque ul li{
	float: left;
	list-style: none;
	margin: 0.7em 0;
	width: 49%;
}
.cheque li:nth-child(odd){
	font-weight: bold;
	font-size: 14px;
}
.cheque li:nth-child(even){
	font-size: 14px;
}*/
.br{
	margin: 0.2em;
	width: 99%;
	background: rgba(0,0,0,0.1);
	float: left;
}
.net{
	height: 30px;
	margin: 0.4em 0;
	width:76%;
	float: left;
}
.net p{
	float: right;
	font-size: 14px;
	font-weight: bold;
	color:#005b96;
}
.total{
	height: 30px;
	margin: 0.4em 0;
	width: 20%;
	float: left;
}
.select.filter
{
	width:220px;
	height:35px;
	padding:0;
	}
.total p{
	font-size: 14px;
	font-style: italic;
	padding-left: 0.6em;
	text-decoration: underline;;
}
.blue-with-image-2{
    border:none;
    padding-top:35px;
    background-color: transparent;
    text-align: center;
    background-image: url(../images/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;

}