html,body{
	height: 100%;
}
body{
	font-family: arial;
	background: #F2F4F3;
}
.dataTables_length select{
    width: 60px;
}
.dataTables_filter input{
    width: 180px;
}
.boldness td{
    font-weight: bold;
}
.data p{
	font-size: 14px;
}
div[class="result"]{
   position:absolute;
    top: 50%;
    left: 75%;
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #dcddcd;
    color: darkred;
    padding: 1.5em;
    z-index: 1;
}
div[id="table_list_processing"]
{
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #dcddcd;
    color: darkred;
    left: 47%;
    padding: 1.5em;
    position: absolute;
    top: 60%;
    width: 90px;
    z-index: 1;
}
.relocate{
    margin-left: 1em ;
    margin-top: 1em;
}
.downloads li{
		list-style-type:none;
		display:inline-block;
		float:left;
		padding:0.5em;
	}
	.downloads img{
		/*width:100%;*/
	}
	.downloads p{
		font-size:11px;
		font-weight:bold;
		padding-left:1em;	}
	.downloads a{
		color:#333;
	}
	.downloads a:hover{
		color:#999;
		font-style: italic;
	}

.menuorgan{
	float: right;
	margin:0.5em 1em 0em 0em;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	/*height: 70px;*/
	border-top: solid 5px #4D6684;
}
header h1{
	font-size: 1.4em;
	padding: 20px 0 20px 20px;
	color: #4D6684;
	display: inline-block;
}
header .right-icons{
	float: right;
	display: inline-block;
}
.right-icons ul{
	list-style: none;
	margin-right: 20px;
}
.right-icons ul li{
	float: right;

}
.row1{
	width: 95%;
	margin: 0.5em;
	float: left;
}
.dooo{
	float: left;
}
.dooo li{
	list-style-type: none;;
	display: inline-table;
	margin-left: 0.2em;
}
.row2{
	width: 95%;
	margin: 0.5em;
	float: left;
}
.form-left{
	width: 60%;
	float: left;
	margin: 1em 0.5em;
}
.italica{
	font-size: 14px;
	padding-left: 3em;
	width: 40%;
	float: right;
}
.headingfive{ 
	float: left; 
	font-size: 15px;
 	width: 40%;
}

.form-right{
	width: 35%;
	float: left;
	margin: 1em 0.5em;
}
.right-icons ul li a{
	color: #999;
	transition: all 0.7s;
}
.right-icons ul li a span{
	float: left;
	margin: 0;
	padding: 20px 0 0px 40px;
	margin-right: 5px;
	font-size: 1.2em;
}
.right-icons ul li a h4{
	float: left;
	margin: 0;
	padding: 22px 5px 0px 0;
	font-weight: normal;
	font-size: 0.9em;
}
.right-icons ul li a i{
	padding: 23px 20px 0px 0px;
}
.right-icons ul li a .notify-count{
	background: none repeat scroll 0 0 #4db849;
    border-radius: 9px;
    color: #fff;
    float: left;
    font-size: 0.7em;
    height: 14px;
    margin: 11px -15px;
    padding: 3px;
    text-align: center;
    width: 14px;
}
.right-icons ul li a:hover{
	color: #343536;
}
.right-icons ul li ul{
	display: none;
	visibility: hidden;
}
.right-icons ul li:hover ul{
	display: block;
	visibility: visible;
	position: absolute;
	margin-top: 0;
	border: solid 2px #999;
}
.right-icons ul ul li{
	float: none;
	width: 110px;
	display: block;
	background: #fff;
	padding: 3px;
	border-bottom: dotted 1px #999;
}
.right-icons ul ul li a{
	font-size: 0.8em;
	text-decoration: none;
}
/*notifications*/
#page {background:#fff;border:1px solid #ccc;box-shadow:0 0 0 3px #eee;margin:40px auto;width:40%;min-width:800px;min-height:500px;border-radius:3px;padding:0 0 30px;position:relative}
#page h2 {margin:20px;color:#444;margin-top:120px}
#page #copyrightBlock + h2 {margin-top:20px}
#copyrightBlock {position:absolute;top:10px;right:10px}
#version, #gitHubLink {color:#fff;background:#4081BE;display:inline-block;padding:0 6px;border-radius:3px;text-decoration:none;font-size:12px;line-height:20px;margin-left:1px}
#gitHubLink:hover {background:#3772A8}
#version {background:#777}
#version span {margin-left:10px;color:#ccc}

.exampleContainer {border:1px solid #ddd;border-left:0;border-right:0}
.exampleContainer .exampleLive {padding:20px;background:#fafafa}
.exampleContainer .exampleLive .exampleLiveTitle {color:#666;font-size:13px;padding-bottom:10px;margin-right:10%}
.exampleContainer .exampleLive > button {padding:6px 12px;cursor:pointer;background:#4081BE;border:0;color:#fff;border-radius:3px;text-transform:uppercase;font-weight:bold;font-size:13px}
.exampleContainer .exampleLive > button:hover {background:#3772A8}
.exampleContainer .exampleCode {background:#2b2f3b;padding:20px}
.exampleContainer .exampleCode code {white-space:pre-line}
.exampleContainer .exampleCode code * {font-family:consolas;font-size:13px}
.exampleContainer .exampleCode code > p {line-height:20px;color:#7993ad;display:inline-block}
.exampleContainer .exampleCode code .tab {padding-left:15px}
.exampleContainer .exampleCode code .tab2 {padding-left:30px}
.exampleContainer .exampleCode code .tab3 {padding-left:45px}
.exampleContainer .exampleCode code .tag {color:#97e0e9}
.exampleContainer .exampleCode code .text {color:#fff}
.exampleContainer .exampleCode code .key {color:#bf5c5b}
.exampleContainer .exampleCode code .val {color:#fadf8c}
.exampleContainer .exampleCode code .var {color:#aae997}
.exampleContainer .exampleCode code .var2 {color:#b297e9}

.notifications{
	padding-bottom: 5px;
	border-bottom: dotted 1px #666; 
	padding: 8px;
}
.notifications:hover{
	background: #F4F8FB
}
.notify-actions{
	padding: 8px;
}
.notify-actions input[type="checkbox"]{
	float: left;
	margin: 5px;
}
.notify-actions label{
	float: left;
	/*width: 12%;*/
	font-size: 0.9em;
	font-weight: normal;
	color: #343536;
	padding: 3px;
}
.notify-actions h5{
	float: right;
	font-weight: normal;
	padding: 5px;
}
.notifications h3{
	font-size: 0.8em;
	color: #343536;
	clear: both;
}
.notifications h5{
	font-size: 0.7em;
	color: #343536;
	font-weight: normal;
}
.notifications i a{
	color: #3399FF !important;
	font-style: normal;
}
.notifications i a:hover{
	text-decoration: underline;
}

/*nitifications*/

.nav-container{
	width: 100%;
	display: block;
	float: left;
	height: 144px;
	background: #4D6684;
}
/*header style ends*/

/*contents style*/

.contents-container{
	width: 97%;
	margin: 30px auto;
	/*border: solid;*/
}


.bredcrumb{
	border: dotted 1px #999;
	padding: 6px 0 6px 20px;
	color: #999;
	font-size: 0.8em;
	margin: 10px auto;
}
.bredcrumb:hover{
	color: #343536;
}
/* chart style */
.chart{
	width: 44%;
	margin:0em 2em 1em 1em;
	float: left;
	background: #fff;
	border: solid 1px #4D6684;
}
.chart1{
    width: 44%;
    margin:0em 2em 1em 1em;
    float: left;
    background: #fff;
    border: solid 1px #4D6684;
    min-height: 350px;
    overflow: hidden;
}
.centerto{
	width: 100%;
	padding:1em 0em;
	clear: left;
}
/*.center{
	width: 100%;
	padding:1em 5em;
	clear: left;
}*/
.dashboard-left{
	width: 66%;
	margin-left: 3em;
	min-height: 100px;
	overflow:hidden;
	float: left;
}
.dashboard-right{
	width: 25%;
	margin-left: 2em;
	min-height: 100px;
	overflow:hidden;
	float: left;
}
.chart-resize{
	width: 93%;
	margin:0em 1em 1em 4em;
	float: left;
	min-height: 100px;
	overflow:hidden;
	background: #fff;
	border: solid 1px #4D6684;
}
.chart-head{
	background: #4D6684;
	width: 100%;
	color: #fff;
	padding: 8px 0 8px 20px;
}
.chart-nav ul{
	list-style: none;
	margin: 10px 3px;
	width: 100%;
}
.chart-nav ul li{
    float: left; 
    border-right: solid 1px #fff;
}
.chart-nav ul li a{
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}
.chart-nav ul li:hover{
}
/* chart */

/* go to list */
.go-to-list{
	width: 25%;
	float: right;
	background: #fff;
	height: 399px;
	border: solid 1px #4D6684;
}
.go-to-list-head{
	background: #4D6684;
	color: #fff;
	padding: 8px 0 8px 20px;
}
.go-to-list ul{
	list-style: none;
	/*margin: 10px;*/
}
.go-to-list ul li{
	display: block;
	float: left;
}
.go-to-list ul li:hover{
	background: #dceffb;
}
.go-to-list ul li a{
	float: left;
	color: #343536;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
}
.go-to-img{
	float: left;
	width: 25%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.9em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.8em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.7em;
    padding: 0 0 0px 10px;
    width: 70%;

}
#boxscroll {
	height: 360px;
	overflow: auto;
  	margin-bottom:20px;
}

/* go to list */

/* quick links */
.quick-links{
	float: right;
	width: 25%;
}
.btn-large{
	background: #4D6684;
	display: block;
	margin: 10px auto;
	padding: 15px;
	padding-bottom: 15px;
	color: #fff;
	transition: all 0.6s;
}
.btn-large span{
	float: left;
	margin: 0px 30px 0px 10px; 
	font-size: 1.5em;
	display: inline-block;
}
.btn-large:hover{
	background: #5694BC;
}
/* quick links */

/* left nav */
.employee-name{
	background: #4D6684;
	color: #fff;
	padding: 5px 0px 5px 20px;
	font-size: 0.9em;
	line-height: 25px;
}
.user-pic{
	background: #fff;
	padding: 8px;
	margin-bottom: 10px;
	text-align: center;
	transition: all 2.0s;
}
.upload-pic{
	position: absolute;
	display: none;
	visibility: hidden;
	margin-top: -20px;
	text-align: center;
	background: rgba(52,53,54,10);
	width: 14.2%;
	font-size: 0.8em;
	color: #fff;
	padding: 5px 0 5px 0;
	transition: all 2.0s;
	cursor: pointer;
}

.user-pic:hover .upload-pic{
	display: block;
	visibility: visible;
}

.left-nav{
	float: left !important;
	width: 17%;
}
.left-nav ul{
	list-style: none;
}
.left-nav ul li a{
background: #4D6684;
display: block;
font-size: 0.8em;
line-height: 30px;
border: solid 1px rgba(255,255,255,0.5);
padding: 5px 0 5px 20px;
color: #FFFFFF;
transition: all 0.4s;
}
.left-nav ul li a span{
	float: right;
    font-size: 1.1em;
    padding: 5px 8px;
}
.left-nav ul li a:hover{
	background: #5694BC;
	color: #fff;
}
.left-nav ul li ul{
	display: none;
	visibility: hidden;
	padding: 0 1em;
	width: 150px;
}
.left-nav ul li:hover ul{
	position: absolute;
	display: block;
    left: 216px;
    top: 422px;
    visibility: visible;
}
.left-nav li li a{
	width: 140%;
}
/* left nav */

/* right-contents */
.right-contents{
	float: right;
	width: 94%;
	border: solid thin #4D6684;
	padding-bottom: 10px; 
	background: #fff;
}
.right-contents1{
	float: right;
	width: 82%;
	border: solid thin #4D6684;
	padding-bottom: 10px; 
	background: #fff;
}
.right-contents1 .head{
	background: #4D6684;
	color: #fff;
	padding: 5px 0px 5px 20px;
	font-size: 0.9em;
	line-height: 25px;
}
.right-contents .head{
	background: #4D6684;
	color: #fff;
	padding: 5px 0px 5px 20px;
	font-size: 0.9em;
	line-height: 25px;
}
.full{
	width: 100%;
}
.list-nav{
		width: 18%;
		/*margin: 10px auto;*/
		/*height: 30px;*/
		float: left;
		padding-bottom: 5px;
		border-right: dotted thin;
	}
	.list-nav ul{
		list-style: none;
		display: table;
		margin: 0 auto;
	}
	.list-nav ul li a{
		float: left;
		padding: 8px;
		margin-right: 10px;
		font-size: 0.8em;
		color: #343536;
	}
	.list-nav ul li a:hover{
		text-decoration: underline;
	}
	.right-list{
		float: right;
		width: 80%;
	}
/* right contents */

footer{
	width: 100%;
	height: 50px;
	background: #4D6684;
	margin-bottom: 20px;
	margin-top: 20px;
}

.table-responsive1 {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
 }
@media (max-width: 1171px){
	.table-responsive1 {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
 }
 .table-responsive{
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
 }
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 22%;
}
input[type="email"]{
	max-width: 22%;
}
form .row input[type="email"]{
	float: left;
	min-width: 45%;
}
select{
	max-width: 22%;
}	
form .row input[type="text"]{
	float: left;
	min-width: 45%;
	
}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;
	
}

}

@media (min-width: 800px) and (max-width: 940px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
 }
.go-to-img{
	float: left;
	width: 20%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.7em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.6em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.5em;
    width: 100%;
    padding: 0;
}

.btn-large{
	font-size: 0.8em;
}
.btn-large span{
	margin: 0px 10px 0px 0px; 
}
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}


}


@media (min-width: 520px) and (max-width: 799px){
	.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
 }
.nav-container{
	height: auto;
}

.go-to-img{
	float: left;
	width: 20%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.5em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.5em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.5em;
    width: 100%;
    padding: 0;
}

.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 9px;
	margin-right: 1px;
	font-size: 0.5em;
	width: 16%;

}
.btn-large span{
	margin: 0px 5px 0px 0px; 
}

.left-nav{
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}
/*
.left-nav ul{
	list-style: none;
}
.left-nav ul li{
	float: left;
	display: inline;
	border-right: solid 1px #fff;
}
.left-nav ul li a{
	padding: 5px 10px 5px 10px;
}*/
.right-contents{
	width: 100%;
	margin: 0 auto;
}
.right-contents1{
	width: 100%;
	margin: 0 auto;
}
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}

}


@media (max-width: 519px){
	.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
 }
.nav-container{
	height: auto;
}
.chart{
	width: 100%;
	float: left;
	background: #fff;
	border: solid 1px #4D6684;
}
.go-to-list{
	width: 100%;
	margin-top: 10px;
}
.go-to-img{
	float: left;
	width: 25%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 1.5em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 1.2em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 1em;
    padding: 0 0 0px 10px;
    width: 70%;

}

.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 13px;
	margin-right: 1px;
	font-size: 1em;
	width: 44%;

}
.btn-large span{
	margin: 0px 20px 0px 0px; 
}

.left-nav{
	float: left;
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}

.right-contents{
	width: 100%;
	margin: 0 auto;
}
.right-contents1{
	width: 100%;
	margin: 0 auto;
}
.filter{
	width: 100%;
	margin: 10px auto;
}
.filter h4{
	width: 11%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}
form .row input[type="text"]{
	float: left;
	min-width: 45%;
	
}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;
	
}

}


@media (max-width: 463px){
	.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
 }
.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 13px;
	margin-right: 1px;
	font-size: 1em;
	width: 94%;

}
.btn-large span{
	margin: 0px 20px 0px 0px; 
}	
.left-nav{
	float: left;
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}
form .row input[type="text"]{
	float: left;
	min-width: 45%;
	
}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;
	
}

}
.h3{
	float: left;
	width: 100%;
	line-height:2em;
	font-size:1em;
	color: #fff;
	padding-left: 0.5em;
	height: 2em;
	background: #0c98c1;
}
/*.cheque{
	width:720px;
	margin: 3em auto;
	min-height: 6em;
	overflow: hidden;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.4);
}
.cheque ul{
		width: 45%;
		float: left;	
		padding: 0.5em;
}
.cheque ul li{
	float: left;
	list-style: none;
	margin: 0.7em 0;
	width: 49%;
}
.cheque li:nth-child(odd){
	font-weight: bold;
	font-size: 14px;
}
.cheque li:nth-child(even){
	font-size: 14px;
}*/
.br{
	margin: 0.2em;
	width: 99%;
	background: rgba(0,0,0,0.1);
	float: left;
}
.net{
	height: 30px;
	margin: 0.4em 0;
	width:76%;
	float: left;
}
.net p{
	float: right;
	font-size: 14px;
	font-weight: bold;
	color:#005b96;
}
.total{
	height: 30px;
	margin: 0.4em 0;
	width: 20%;
	float: left;
}
.select.filter
{
	width:220px;
	height:35px;
	padding:0;
	}
.total p{
	font-size: 14px;
	font-style: italic;
	padding-left: 0.6em;
	text-decoration: underline;;
}
.boxes{
	width:100%;
	margin-top: 1em;
	background: #f8f8f8;
	float: left;
    overflow-y: scroll;
    -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 0px 1px rgba(0,0,0,0.3);
	-ms-box-shadow:0px 0px 1px rgba(0,0,0,0.3);
	-o-box-shadow:0px 0px 1px rgba(0,0,0,0.3);
    -box-shadow:0px 0px 1px rgba(0,0,0,0.3);
    height: 160px;
}
.menu_dashboard{
	width: 10%;
	float: left;
}
.box-head{
	line-height: 30px;
	background:#4D6684;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
}
.boxes .main{
	background: #fff;
	padding:0.3em 0em;
}
.boxes .name{
	font-size: 15px; 
	font-weight: bold;
	padding:0.3em 1em;
}
.boxes .start{
	font-size: 12px;
	font-weight: bold;
	padding: 0.3em 1.2em;
	color:#666;
}
.boxes .complete{
	font-size: 12px;
	font-weight: bold;
	padding: 0.3em 1.2em 0.7em 1.2em;
	color:#666;border-bottom: 1px solid #000;
}
.space{
	padding:0 1.2em;
}
.timesheet{
	width: 100%;
}
.rowfirst{
	float: left;
}
.rowend{
	float: left;
}
.rowendinside{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	padding: 0.7em 0.5em;	
}
.rowfirstinside{
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	padding: 0.7em 0.5em;	
}
.rowdays{
	width: 45px;
	font-size: 14px;
	float: left;
}
.sun{
	background: #f90;
	color: #fff;
}
.sick{
	background: #00ccee;
	color: #fff;
}
.casual{
	background: #00cc22;
	color: #fff;
}
.annual{
	background: #cc0033;
	color: #fff;
}
.compen{
	background: #aa3300;
	color: #fff;
}
.holiday{
	background: #dd2200;
	color: #fff;
}
.rowdaysinside{
	width: 100%;
	float: left;
	height: 28px;
	padding: 0.3em 0.27em;	
}
.color-legend{
	width: 100%;
	margin:0.5em;
}
.color-legend li{
	list-style-type: none;
	padding:0.3em 0.5em;
	display: inline-block;
}
.color-legend li span{
	padding:0.3em 0.5em;
	text-decoration: none;
	font-size: 13px;
	color: #fff;
}
.bar-legend{
	width: 100%;
	margin:0.5em 0;
}
.bar-legend li{
	list-style-type: none;
	padding:0.1em 0.5em;
	display: inline-block;
	font-size: 10px;
}
.bar-legend span{
	padding:0.1em 0.4em;
	margin-right: 0.3em;
}
.pie-legend{
	margin:0.7em 0.2em;
}
.pie-legend li{
	list-style-type: none;
    float: left;
	padding:0.4em 0.5em;
	font-size: 10px;
}
.pie-legend span{
	padding:0em 0.4em;
	margin-right: 0.3em;
}
.messageBox{
	padding: 0.3em 1em;
	font-size: 14px;
	font-weight: bold;
	color: brown;
	border: 1px solid #4D6684;
	width: 50%;
	margin-left: 1em;
}
.select2-search input {
    width: 100% !important;
}
.entitlements_design .head,.entitlements_design h4{
	font-size: 14px;
}
/*tooltip*/
.tooltip-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tooltip {
    opacity: 0;
    z-index: 99;
    color: #bbb;
    width: 100px;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    background: rgba(51,51,51,0.9);
    border: 1px solid rgba(34,34,34,0.9);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    right: -54px;
    bottom: 24px;
}
.table-approved th{
    text-align: left;
}
.tooltip:before,.tooltip:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(51,51,51,0.9);
    position: absolute;
    bottom: -10px;
    left: 43%;
}
.table-approved{
	width:75%; 
	float:left; 
	margin:0;
}
.h100{
	width: 100%;
}
.tooltip-container:hover .tooltip,a:hover .tooltip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#gender,
#nation,
#reli,
#mari,
#city,
#city1,
#pro,
#pro1,
#dist,
#rel,
#desi,
#ski,
#dep,
#loc,
#at,
#ben,
#ins,
#lev,
#task
{ cursor: pointer;}
 .panel {
      display: none;
      width: 220px;
      padding: 20px;
      background-color: #4D6684;
      color: #fff;
    }
.iconion{
	float: right;
	margin-right: 0.5em;
}
.iconion a{
	color: #fff;
	float: left;
}
.iconion a:hover span{
	color: #ccc;cursor: pointer;
}
.iconionactive{
	color: #ccc;
}

/*Custom Notification BY SHH*/
/*Some Times We Need To Specify Notifications In Page To Direct the User to The Right Path Instead of Letting Him Try to Find The Solution From Complex Scenarios*/

.notice p {
    margin: 0;
}

.notice {
    position: relative;
    margin: 1em;
    background: #F9F9F9;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    /*Little Font Styles For Notification*/
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    color: #34495e;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6em;
}
.notice ul li{
    font-size: 10pt;
}

.notice > ul {
    margin-left: 20px;
}

.notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #DDD;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
    border-color: #0074D9;
}

.info:before {
    content: "i";
    background-color: #0074D9;
}

.success {
    border-color: #2ECC40;
}

.success:before {
    content: "√";
    background-color: #2ECC40;
}

.warning {
    border-color: #FFDC00;
}

.warning:before {
    content: "!";
    background-color: #FFDC00;
}

.error {
    border-color: #FF4136;
}

.error:before {
    content: "X";
    background-color: #FF4136;
}
.btn-b{
    background: #4D6684;;
    display: block;
    margin: 2px auto;
    padding: 8px;
    padding-bottom: 4px;
    color: #fff;
    transition: all 0.6s;
}