body{
	font-family: arial;
	background: #F2F4F3;
}
*{
	margin: 0;
	padding: 0px;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	/*height: 70px;*/
	border-top: solid 5px #4D6684;
}
header h1{
	font-size: 1.4em;
	padding: 20px 0 20px 20px;
	color: #4D6684;
	display: inline-block;
}
header .right-icons{
	float: right;
	display: inline-block;
}
.right-icons ul{
	list-style: none;
	margin-right: 20px;
}
.right-icons ul li{
	float: right;

}
.right-icons ul li a{
	color: #999;
	transition: all 0.7s;
}
.right-icons ul li a span{
	float: left;
	margin: 0;
	padding: 20px 0 0px 40px;
	margin-right: 5px;
	font-size: 1.2em;
}
.right-icons ul li a h4{
	float: left;
	margin: 0;
	padding: 22px 5px 0px 0;
	font-weight: normal;
	font-size: 0.9em;
}
.right-icons ul li a i{
	padding: 23px 20px 0px 0px;
}
.right-icons ul li a .notify-count{
	background: none repeat scroll 0 0 #4db849;
    border-radius: 9px;
    color: #fff;
    float: left;
    font-size: 0.7em;
    height: 14px;
    margin: 11px -15px;
    padding: 3px;
    text-align: center;
    width: 14px;
}
.right-icons ul li a:hover{
	color: #343536;
}
.right-icons ul li ul{
	display: none;
	visibility: hidden;
}
.right-icons ul li:hover ul{
	display: block;
	visibility: visible;
	position: absolute;
	margin-top: 0;
	border: solid 2px #999;
}
.right-icons ul ul li{
	float: none;
	width: 110px;
	display: block;
	background: #fff;
	padding: 3px;
	border-bottom: dotted 1px #999;
}
.right-icons ul ul li a{
	font-size: 0.8em;
	text-decoration: none;
}
.nav-container{
	width: 100%;
	display: block;
	float: left;
	height: 144px;
	background: #4D6684;
}
/*header style ends*/

/*contents style*/

.contents-container{
	width: 97%;
	margin: 30px auto;
	/*border: solid;*/
}


.bredcrumb{
	border: dotted 1px #999;
	padding: 6px 0 6px 20px;
	color: #999;
	font-size: 0.8em;
	margin: 10px auto;
}
.bredcrumb:hover{
	color: #343536;
}

/* chart style */
.chart{
	width: 73%;
	float: left;
	background: #fff;
	border: solid 1px #4D6684;
}
.chart-head{
	background: #4D6684;
	color: #fff;
	padding: 8px 0 8px 20px;
}
.chart-nav ul{
	list-style: none;
	margin: 10px;
}
.chart-nav ul li{
	background: none repeat scroll 0 0 #4d6684;
    float: left;
    padding: 0 0 3px 8px;
    width: 60px;
    border-right: solid 1px #fff;
}
.chart-nav ul li a{
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}
.chart-nav ul li:hover{
	background: #5694BC;
}
/* chart */

/* go to list */
.go-to-list{
	width: 25%;
	float: right;
	background: #fff;
	height: 399px;
	border: solid 1px #4D6684;
}
.go-to-list-head{
	background: #4D6684;
	color: #fff;
	padding: 8px 0 8px 20px;
}
.go-to-list ul{
	list-style: none;
	/*margin: 10px;*/
}
.go-to-list ul li{
	display: block;
	float: left;
}
.go-to-list ul li:hover{
	background: #dceffb;
}
.go-to-list ul li a{
	float: left;
	color: #343536;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
}
.go-to-img{
	float: left;
	width: 25%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.9em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.8em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.7em;
    padding: 0 0 0px 10px;
    width: 70%;

}
#boxscroll {
	height: 360px;
	overflow: auto;
  	margin-bottom:20px;
}

/* go to list */

/* quick links */
.quick-links{
	float: right;
	width: 25%;
}
.btn-large{
	background: #4D6684;
	display: block;
	margin: 10px auto;
	padding: 15px;
	padding-bottom: 15px;
	color: #fff;
	transition: all 0.6s;
}
.btn-large span{
	float: left;
	margin: 0px 30px 0px 10px; 
	font-size: 1.5em;
	display: inline-block;
}
.btn-large:hover{
	background: #5694BC;
}
/* quick links */

/* left nav */
.employee-name{
	background: #4D6684;
	color: #fff;
	padding: 5px 0px 5px 20px;
	font-size: 0.9em;
	line-height: 25px;
}
.user-pic{
	background: #fff;
	padding: 8px;
	margin-bottom: 10px;
	text-align: center;
	transition: all 2.0s;
}
.upload-pic{
	position: absolute;
	display: none;
	visibility: hidden;
	margin-top: -20px;
	text-align: center;
	background: rgba(52,53,54,10);
	width: 14.2%;
	font-size: 0.8em;
	color: #fff;
	padding: 5px 0 5px 0;
	transition: all 2.0s;
	cursor: pointer;
}

.user-pic:hover .upload-pic{
	display: block;
	visibility: visible;
}

.left-nav{
	float: left !important;
	width: 16%;
}
.left-nav ul{
	list-style: none;
}
.left-nav ul li a{
	background: #CCCCCC;
	display: block;
	font-size: 0.8em;
	line-height: 23px;
	border-bottom: solid 1px #fff;
	padding: 5px 0 5px 20px;
	color: #343536;
	transition: all 0.4s;
}
.left-nav ul li a span{
	float: right;
    font-size: 1.1em;
    padding: 5px 8px;
}
.left-nav ul li a:hover{
	background: #5694BC;
	color: #fff;
}
.left-nav ul li ul{
	display: none;
	visibility: hidden;
}
.left-nav ul li:hover ul{
	position: absolute;
	display: block;
    left: 218px;
    top: 524px;
    visibility: visible;
}
.left-nav li li a{
	width: 140%;
}
/* left nav */

/* right-contents */
.right-contents{
	float: right;
	width: 82%;
	border: solid thin #4D6684;
	padding-bottom: 10px; 
	background: #fff;
}
.right-contents .head{
	background: #4D6684;
	color: #fff;
	padding: 5px 0px 5px 20px;
	font-size: 0.9em;
	line-height: 25px;
}
.full{
	width: 100%;
}
.list-nav{
		width: 18%;
		/*margin: 10px auto;*/
		/*height: 30px;*/
		float: left;
		padding-bottom: 5px;
		border-right: dotted thin;
	}
	.list-nav ul{
		list-style: none;
		display: table;
		margin: 0 auto;
	}
	.list-nav ul li a{
		float: left;
		padding: 8px;
		margin-right: 10px;
		font-size: 0.8em;
		color: #343536;
	}
	.list-nav ul li a:hover{
		text-decoration: underline;
	}
	.right-list{
		float: right;
		width: 80%;
	}
/* right contents */

footer{
	width: 100%;
	height: 50px;
	background: #4D6684;
	margin-bottom: 20px;
	margin-top: 20px;
}


@media (max-width: 1171px){
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 22%;
}
select{
	max-width: 22%;
}	
form .row input[type="text"]{
	float: left;
	min-width: 45%;
	
}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;
	
}

}



@media (min-width: 800px) and (max-width: 940px){
.go-to-img{
	float: left;
	width: 20%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.7em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.6em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.5em;
    width: 100%;
    padding: 0;
}

.btn-large{
	font-size: 0.8em;
}
.btn-large span{
	margin: 0px 10px 0px 0px; 
}
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}


}


@media (min-width: 520px) and (max-width: 799px){
.nav-container{
	height: auto;
}

.go-to-img{
	float: left;
	width: 20%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 0.5em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 0.5em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 0.5em;
    width: 100%;
    padding: 0;
}

.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 9px;
	margin-right: 1px;
	font-size: 0.5em;
	width: 16%;

}
.btn-large span{
	margin: 0px 5px 0px 0px; 
}

.left-nav{
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}
/*
.left-nav ul{
	list-style: none;
}
.left-nav ul li{
	float: left;
	display: inline;
	border-right: solid 1px #fff;
}
.left-nav ul li a{
	padding: 5px 10px 5px 10px;
}*/
.right-contents{
	width: 100%;
	margin: 0 auto;
}
.filter{
	width: 100%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}

}


@media (max-width: 519px){
.nav-container{
	height: auto;
}
.chart{
	width: 100%;
	float: left;
	background: #fff;
	border: solid 1px #4D6684;
}
.go-to-list{
	width: 100%;
	margin-top: 10px;
}
.go-to-img{
	float: left;
	width: 25%;
	display: inline-block;
}
.go-to-list ul li a h3{
	font-size: 1.5em;
	float: left;
	font-weight: normal;
	padding: 0px 0 5px 10px; 
	color: #343536;
	display: block;
}
.go-to-list ul li a span{
	float: left;
    font-size: 1.2em;
    padding: 0 0 5px 10px;
    color: #3399FF;
    display: block;
}
.go-to-list ul li a p{
	float: left;
    font-size: 1em;
    padding: 0 0 0px 10px;
    width: 70%;

}

.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 13px;
	margin-right: 1px;
	font-size: 1em;
	width: 44%;

}
.btn-large span{
	margin: 0px 20px 0px 0px; 
}

.left-nav{
	float: left;
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}

.right-contents{
	width: 100%;
	margin: 0 auto;
}
.filter{
	width: 100%;
	margin: 10px auto;
}
.filter h4{
	width: 11%;
}
input[type="text"]{
	max-width: 20%;
}
select{
	max-width: 21%;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}
form .row input[type="text"]{
	float: left;
	min-width: 45%;
	
}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;
	
}

}


@media (max-width: 463px){
.quick-links{
	margin: 10px auto;
	width: 100%;
}

.btn-large{
	float: left;
	padding: 13px;
	margin-right: 1px;
	font-size: 1em;
	width: 94%;

}
.btn-large span{
	margin: 0px 20px 0px 0px; 
}	
.left-nav{
	float: left;
	width: 100%;
	background: #CCCCCC;
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}
form .row{
	clear: both;
	width: 100%;
	margin: 10px auto;
}
form .row input[type="text"]{
	float: left;
	min-width: 45%;
	
}
form .row select{
	float: left;
	min-width: 47%;
}
form .row input[type="password"]{
	float: left;
	min-width: 45%;
	
}

}
.result{
					position:relative;
					top:105px;
					left:20px;
					font-size:18px;
					width:20%;
					height:100px;
					color:#F00;
					}