.branding{
	font-size: 24px;
	color:#fff;
}
.navbar-brand{
	padding: 1.2em 1em;
}
.collapse{
	margin-right:2%;
}
.doit a{
	color:#fff;
}
.doit a:hover{
	color:#000;
}
.downloads h6{
	font-weight: bold;
	font-size: 11px;
}
.left-menu{
	padding-bottom: 2em;
}
.downloads .caption{
	padding: 0.1em 0.5em;
}
.left_side{
	background: #fff;
	/*box-shadow: 1px 4px 1px rgba(0,0,0,0.5);*/
	height: auto;
}
html,body{
	height: 100%;
}
body{
	padding-top:4.2em;
	background: #f8f8f8;
}
.notify p{
 	text-align: justify;
 	text-indent: 3em;
 	line-height: 24px;
}
.panel-heading{
	font-weight: bold;
}
#img{
	margin-right:10px; 
	border:2px solid #fff;
}
.resize{
	height: 100%;
}
.right-side{
	border-left:3px solid #4D6684;
	background: #fff;
	height: 100%;
}
.picture{
	margin-top: 1em;
	border-bottom: thin solid #ccc;
	min-height: 20px;
	width: 100%;
	overflow: hidden;
}
.picture p{
	font-size: 17px;
	font-weight: bold;
	padding: 1em 0;
}
.picture span{
	font-size: 12px;
	color: #666;
	font-style: italic;
}
.nav-stacked {
	margin-top: 1em;
}
.table td h4{
	background: #f1f1f1;
	line-height: 30px;
	font-weight: bold;
	padding-left: 0.5em;
}
.nav > li{
	background: #f8f8f8;
	border-radius: 0;
	border-bottom: thin solid #999;
}
#listing td:nth-child(odd){
	font-weight: bold;
}
.nav > li > a{
	font-size: 12px;
	color:#000;
	font-weight: 700;
}
.nav > li > a:hover{
	color: #fff;
	background: #4D6684;
	border-radius: 0;
}
.collapse-top{
	margin-top: 1em;
}
.doi{
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-ms-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	width: 100%;
	min-height: 200px;
	overflow: hidden;
}
.notification{
	width: 100%;
	border-bottom: thin solid #f6f6f6;
	float: left;
}
.notification h5{
	padding-left: 0.5em;
	font-weight: bold;
	font-size: 12px;
}
.notification span{
	padding-right: 1em;
}
.notification p{
	font-size: 12px;
	padding: 0.3em 0.5em;
}
	/*
		Responsive Media Queries
	*/
@media (max-width: 469px)
{
.branding
	{
	font-size: 15px;
	color:#fff;
	}

}